/*/////////////////////////// MENU ////////////////////////////*/
.menu {   
   font-family: verdana, arial, sans-serif; 
   font-size: 8pt; 
   font-weight: bold; 
   padding: 4px; 
   background-color: #0099FF; 
   color: #FFFFFF;
   text-decoration: none; 
} 

.menu:link, 

.menu:visited { 
   border-top: 1px solid #cccccc; 
   border-bottom: 2px solid #666666; 
   border-left: 1px solid #cccccc; 
   border-right: 2px solid #666666; 
} 
.menu:hover { 
    border-bottom: 1px solid #cccccc; 
   border-top: 2px solid #666666; 
   border-right: 1px solid #cccccc; 
   border-left: 2px solid #666666;
   color: #E0DFE3;  
}
/*/////////////////////////// MENU ////////////////////////////*/





/*/////////////////////////// TEXTO ////////////////////////////*/
a.texto:link { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; text-decoration:none; }
a.texto:visited { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; text-decoration:none; }
a.texto:hover { color:#0099FF;  }
a.texto:active,
/*/////////////////////////// TEXTO ////////////////////////////*/

.botao { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; font-weight:bold; }


		