body { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#111; padding:0; margin:0; text-align:left; background:#eee; }
p,
div,
table,
tr,
td,
form,
input { padding:0; margin:0; font-weight:normal; text-decoration:none; }
p { padding:8px 0; }
/* Links */
a { color:#2887E3; font-weight:bold; text-decoration:none; }
a:link { }
a:visited { }
a:active,
a:focus { outline:0; }
a:hover { color:#111; font-weight:bold; text-decoration:none; }
/* Headings */
h1 { padding:0; margin:0; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none; color:#2887E3; font-size:32px; }
h2 { padding:0; margin:8px 0 0 0; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none; color:#222; font-size:24px; }
h3 { padding:0; margin:0; font-weight:normal; text-decoration:none; }
h4 { }
h5 { }
h6 { }
/* Listings */
ul { }
ul li { }
ol { }
ol li { }
/* Forms */
select,
option { color:#111; font-weight:normal; text-decoration:none; font-size:12px; }
input { vertical-align:middle; font-size:12px; }
textarea { }
label { }
/* Images */
img { border:none; }
/* Horizontal lines */
hr { line-height:0; height:0; border:none; border-bottom:1px solid #ccc; padding:0; margin:8px 0; }
hr.separator { }
/* Other */
fieldset { }
legend { }
pre { font-family:monospace; }
/* ----------------- Layout ----------------- */
#container { width:920px; margin:20px auto; padding:20px; background:#fff; border:1px solid #e0e0e0; }
#releaseNotes { padding:8px; background:#ffffdd; }
#credits { text-align:right; border-top:1px solid #e0e0e0; padding:8px; margin:8px 0 0 0; }
.moldura { padding:3px; background-color: #f5f5f5; border-bottom: 1px solid #999999; border-right: 1px solid #999999; }
